body {
  background-color: #9feeeac2;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

.main-title {
  text-align: center;
  text-decoration: underline;
}

.superpokemons-title {
  text-align: center;
}

.superpokemons-list {
  border: 1px solid #fc0037;
  border-radius: 10px;
  padding: 20px;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 190px;
  padding: 20px;
  border: 1px solid #fc0037;
  border-radius: 10px;
}

.text-style-hover:hover {
  /* Esta propiedad es específica al hacer hover sobre el contenedor que contiene elementos */
  color: #850000;
  transition: 0.2s;
  font-weight: lighter;
}
